@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
}

:root.dark {
  --color-background: #000000;
  --color-foreground: #ffffff;
}

:root.light {
  --color-background: #ffffff;
  --color-foreground: #000000;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  text-rendering: geometricPrecision;
}

nextjs-portal {
  display: none !important;
}